<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juntando_tudo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.juntando_tudo.MainActivity"
            android:label="@string/app_name" android:parentActivityName="@string/title_activity_main_menu" android:finishOnTaskLaunch="false" android:launchMode="standard">
        </activity>
        <activity
            android:name="com.juntando_tudo.LoginGoogle"
            android:label="@string/title_activity_login_google"
            android:parentActivityName="@string/title_activity_main_menu"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.juntando_tudo.MainMenu"
            android:label="@string/title_activity_main_menu" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter><meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.juntando_tudo.MainMenu" />
        </activity>
        <activity
            android:name="com.juntando_tudo.Lista"
            android:label="@string/title_activity_lista"
            android:parentActivityName="com.juntando_tudo.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.juntando_tudo.MainMenu" />
        </activity>
    </application>

</manifest>
